$color: purple;

* {
  padding: 0;
  margin: 0;
  background-color: #d3d3d3;
 
  margin-left: auto;
  margin-right: auto;
  display: block;
 
}

.slider {
  margin-bottom: -10px;
  transform: rotate(270deg);
  -webkit-appearance: none;
  
  height: 10px;
  background: #818589;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 20px;
  background: #4a4d4f;
  cursor: pointer;
}
.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

#volume {
  margin-top: -50px;
  margin-right: 200px;
}
#playback {
  margin-left: 200px;
 
}





/* CSS */
.button {
  appearance: button;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 25px;
  width: 25px;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 10px;
  font-weight: 200;
  line-height: 10px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
}

.button:focus {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
}

.button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    padding: 12px 50px;
  }
}